:root {
    --color-primary: #fff;
    --color-secondary: #fc2c03;
    --color-body: #979c98;
    --color-hero: #000;
    --font-family: 'Inter', sans-serif,
                   'Open Sans', sans-serif,
                   'Poppins', sans-serif;
    --font-body:   'Arizonia', cursive;


}


html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.5;
    font-family: var(--font-family);
}


/* typography */

h2, h3 {
    line-height: 1.3;
}

h2 {
    font-size: 2.4rem;
    color: var(--color-primary);
    margin: 0 0;
    font-family: var(--font-family);
}


h3 {
    font-size: 1.7rem;
    margin: 0 0;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--font-family);
}

h4 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2rem;
    font-family: var(--font-family);
}

/* Links */

a {
    text-decoration: none;
    font-family: var(--font-family);
}

.nav__item > a {
    color: var(--color-primary);
}


/* Collapsible */

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    
}

/* Navigation Bar */

.nav {
    align-items: center;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem 0 1.5rem;
}


.nav__logoname, .nav__brand {
    cursor: pointer;
}


.nav__list {
    list-style: none;
    padding-left: initial;
    width: 100%;
}

.nav__item {
    color: var(--color-primary);
    line-height: 3;
    font-size: 2rem;
}

.nav__item > a:hover {
    color: var(--color-secondary);

}

@media screen and (min-width: 1024px) {
    .nav__brand {
        display: none;
    }

    .nav {
        background: none;
        position: absolute;
        z-index: 3;
        width: 926px;
        padding-left: 4rem;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        gap: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .nav {
        width: 1070px;
        padding-left: 18rem;
    }

}

@media screen and (min-width: 1920px) {
    .nav {
        padding-left: 43rem;
    }
    
}


/* Hero */

.image-hero {
    width: 100%;
    position: inherit;
}

.hero-content {
   position: relative;
   top: 363px;
   padding-left: 1rem;
}

.hero-start {
    font-family: var(--font-body);
    position: absolute;
    font-size: 3rem;
    bottom: 17rem;
    color: var(--color-secondary);
}

.hero-text {
    font-size: xx-large;
    line-height: 1.2;
    width: 221px;
}

.hero-subject {
    color: var(--color-primary);
    font-size: large;
    font-family: var(--font-family);
}

.icon__hero {
    height: 90px;
    position: absolute;
    left: 2rem;
    bottom: 30rem;
}

@media screen and (min-width: 768px) {
    .icon__hero {
        left: 63rem;
        top: 3rem;
    }

    .hero-start{
        padding-left: 4rem;
        bottom: 19rem;
    }
    
    .hero-text {
        width: 382px;
        padding-left: 4rem;
        font-size: 4rem;
    }

    .hero-subject {
        padding-left: 4rem;
        width: 395px;
    }

    
}

@media screen and (min-width: 1024px) {
    .icon__hero {
        left: 85rem;
        top: 4rem;
    }

    .hero-start {
        bottom: 23rem;
    }
    
    .hero-text {
        width: 645px;
        padding-left: 4rem;
        font-size: 6rem;
    }

    .hero-subject {
        padding-left: 4rem;
        width: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .icon__hero {
        left: 121rem;
        top: 4rem;
    }

    .hero-start {
        bottom: 15rem;
        left: 14rem;
    }
    
    .hero-text {
        width: 671px;
        padding-left: 17rem;
        font-size: 5.7rem;
    }

    .hero-subject {
        padding-left: 17rem;
        width: 700px;
    }

    @media screen and (min-width: 1920px) {
        .hero-content {
            padding-left: 25rem;
        }

        .hero-start {
            padding-left: 28rem;
        }

        .icon__hero {
            left: 147rem;
        }
    }
}

/* Input Main */

.group-input {
    position: relative;
}

.input-ng {
    position: absolute;
    left: 2rem;
    top: -17.5rem;
}

.input-nav {
    padding: 1rem;
    background: var(--color-secondary);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    color: var(--color-primary);
}

.input-g {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    width: 165px;
    font-size: 1rem;
    position: absolute;
    padding: 2rem 1.5rem 2rem 1.5rem;
    left: 2rem;
    top: -15rem;
    border-radius: 10px;
    color: var(--color-secondary);
    font-weight: bold;
}

.input-s {
    padding: 0 0 5rem;
}

.input-sl {
    padding-bottom: 0;
}

.input {
    border: none;
    margin-top: 1rem;
}

#input2, #input3 {
    transform: scaleX(-1);
}

.input-btn-g {
    border: none;
    background: var(--color-secondary);
    padding: 1.5rem;
    margin-top: 2rem;
}

.input-btn {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: bold;
}