:root {
    --color-primary: #fff;
    --color-secondary: #f15d30;
    --color-body: #979c98;
    --color-hero: #000;
    --font-family: 'Inter', sans-serif,
                   'Open Sans', sans-serif,
                   'Poppins', sans-serif;
    --font-body:   'Arizonia', cursive;


}


html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.5;
    font-family: var(--font-family);
}


/* typography */

h2, h3 {
    line-height: 1.3;
}

h2 {
    font-size: 2.4rem;
    color: var(--color-primary);
    margin: 0 0;
    font-family: var(--font-family);
}


h3 {
    font-size: 1.7rem;
    margin: 0 0;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--font-family);
}

h4 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .2rem;
    font-family: var(--font-family);
}



/* Links */

a {
    text-decoration: none;
    font-family: var(--font-family);
}

.nav__item > a {
    color: var(--color-primary);
}

.main-btn > a {
    width: 50px;
}

/* Collapsible */

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    
}

/* Navigation Bar */

/* js need */

.nav {
    align-items: center;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem 0 1.5rem;
}


.nav__logoname, .nav__brand {
    cursor: pointer;
}


.nav__list {
    list-style: none;
    padding-left: initial;
    width: 100%;
}

.nav__item {
    color: var(--color-primary);
    line-height: 3;
    font-size: 2rem;
}

.nav__item > a:hover {
    color: var(--color-secondary);

}

@media screen and (min-width: 1024px) {
    .nav__brand {
        display: none;
    }

    .nav {
        background: none;
        position: absolute;
        z-index: 3;
        width: 926px;
        padding-left: 4rem;
    }

    .nav__list {
        width: auto;
        display: flex;
        max-height: 100%;
        gap: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .nav {
        width: 1070px;
        padding-left: 18rem;
    }

}

@media screen and (min-width: 1920px) {
    .nav {
        padding-left: 43rem;
    }
    
}


/* Hero */

.image-hero {
    width: 100%;
    position: inherit;
}

.hero-content {
   position: relative;
   top: 363px;
   padding-left: 1rem;
}

.hero-start {
    font-family: var(--font-body);
    position: absolute;
    font-size: 3rem;
    bottom: 17rem;
    color: var(--color-secondary);
}

.hero-text {
    font-size: xx-large;
    line-height: 1.2;
    width: 221px;
}

.hero-subject {
    color: var(--color-primary);
    font-size: large;
    font-family: var(--font-family);
}

.icon__hero {
    height: 90px;
    position: absolute;
    left: 2rem;
    bottom: 30rem;
}

@media screen and (min-width: 768px) {
    .icon__hero {
        left: 63rem;
        top: 3rem;
    }

    .hero-start{
        padding-left: 4rem;
        bottom: 19rem;
    }
    
    .hero-text {
        width: 382px;
        padding-left: 4rem;
        font-size: 4rem;
    }

    .hero-subject {
        padding-left: 4rem;
        width: 395px;
    }

    
}

@media screen and (min-width: 1024px) {
    .icon__hero {
        left: 85rem;
        top: 4rem;
    }

    .hero-start {
        bottom: 23rem;
    }
    
    .hero-text {
        width: 645px;
        padding-left: 4rem;
        font-size: 6rem;
    }

    .hero-subject {
        padding-left: 4rem;
        width: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .icon__hero {
        left: 121rem;
        top: 4rem;
    }

    .hero-start {
        bottom: 15rem;
        left: 14rem;
    }
    
    .hero-text {
        width: 671px;
        padding-left: 17rem;
        font-size: 5.7rem;
    }

    .hero-subject {
        padding-left: 17rem;
        width: 700px;
    }

    @media screen and (min-width: 1920px) {
        .hero-content {
            padding-left: 25rem;
        }

        .hero-start {
            padding-left: 28rem;
        }

        .icon__hero {
            left: 147rem;
        }
    }
}

/* Input Main */

/* js need */

.group-input {
    position: relative;
}

.input-ng {
    position: absolute;
    left: 2rem;
    top: -17.5rem;
}

.input-nav {
    padding: 1rem;
    background: var(--color-secondary);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    color: var(--color-primary);
}

.input-nav:focus {
    background: var(--color-primary);
    color: var(--color-body);
}

.input-g {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 1rem;
    position: absolute;
    padding: 2rem 1.5rem 2rem 1.5rem;
    left: 2rem;
    top: -15rem;
    border-radius: 10px;
    color: var(--color-secondary);
    font-weight: bold;
}

.input-s {
    padding: 0 0 5rem;
    display: flex;
    flex-direction: column;
}

.input-sl {
    padding-bottom: 0;
}

.input {
    border: none;
    margin-top: 1rem;
}

.input:focus {
    outline: none;
}

#input2, #input3 {
    transform: scaleX(-1);
    text-align: right;
}

.input-btn-g {
    border: none;
    background: var(--color-secondary);
    padding: 1.5rem;
    margin-top: 2rem;
}

.input-btn {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    .input-ng {
        padding-left: 3rem;
        top: -18.9rem;
    }

    .input-nav {
        font-size: 2rem;
        padding: 1.5rem 4rem;
    }

    .input-g {
        margin-left: 3rem;
        padding: 3rem 2rem 0 2rem;
        width: 628px;
        font-size: 1.5rem;
    }

    .input-s {
        display: flex;
        flex-direction: column;    
    }

    .input {
        padding: 1rem;
    }

    #input2, #input3 {
        text-align: right;
    }
}

@media screen and (min-width: 1024px) {
    .group-input {
        margin: 9rem 0;
        width: 108%;
    }

    .input-g {
        width: 83%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .input {
        padding-right: 0;
    }

    .input-s {
        padding: 3rem 4rem;
        border-left: 1px solid var(--color-body);
    }

    .input-s:first-child {
        border-left: none;
    }
    
    .input-btn-g {
        margin: 0;
        width: inherit;
    }

    #input1 {
        width: 120%;
    }


    .input-sl {
        width: 12%;
    }

    .input-sl1 {
        width: 13%;
    }
}

@media screen and (min-width: 1440px) {
    .input-ng {
        padding-left: 16rem;
    }

    .input-g {
        width: 70%;
        left: 15rem;
    }

    .input-btn {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .input-ng {
        padding-left: 40rem;
    }

    .input-g {
        width: 54%;
        left: 39rem;
    }

    .input-btn {
        font-size: 2rem;
    }
}

/* Main  */

.main {
    position: relative;
}

.main-container {
    position: absolute;
    top: 30rem;
}

.main-start {
    top: 5rem;
    left: 3rem;
    font-size: 2.7rem;
    width: 200px;
}

.main-sbj {
    position: absolute;
    top: 10rem;
    left: 3rem;
    width: 250px;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    color: var(--color-hero);
}

.main-exp {
    position: absolute;
    top: 21rem;
    left: 3rem;
    color: var(--color-body);
    width: 277px;
    line-height: 3rem;
}

.main-btn-g {
    position: absolute;
    top: 75rem;
    left: 3rem;
    width: 188px;
    padding: 2rem 0;
    border: none;
    border-radius: 5px;
    background: var(--color-secondary);
}

.main-btn {
    color: var(--color-primary);
    font-size: 1.7rem;
    font-weight: bold;

}

.main-images {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.main-image {
    background-size: cover;
    position: absolute;
    width: 268px;
    height: 342px;
    left: 3rem;
    top: 114rem;
}

.main-i1 {
    background-image: url(../images/image1.jpg);
    top: 114rem;
}


.main-i2 {
    background-image: url(../images/image2.jpg);
    top: 152rem;
}

.main-i3 {
    background-image: url(../images/image3.jpg);
    top: 190rem;
}

.main-i4 {
    background-image: url(../images/image4.jpg);
    top: 228rem;
}

.main-i-h {
    background: var(--color-secondary);
    position: absolute;
    width: 108px;
    height: 84px;
    top: 4rem;
    left: -.5rem;
}

.main-icon{
    fill: var(--color-primary);
    padding: 2rem 3.5rem;
}

.main-s {
    position: absolute;
    text-transform: none;
    color: var(--color-primary);
    left: 4rem;
    letter-spacing: 0;
    width: 200px;
}

.main-text {
    position: absolute;
    color: var(--color-primary);
    left: 4rem;
    top: 13rem;
    width: 193px;
    font-size: 1.5rem;
    line-height: 1.5;
}




