<section>
    <div class="blog-header">
        <p class="blog-start">
            Our Blog
         </p>
         <h4 class="blog-heading">
            Recent Post
         </h4>
    </div>
    <div class="blog-container">
      <div>
         <a href="#">
            <div class="blog-image owl-rodbar">
             <div class="blog-date">
                 <h4 class="blog-day">
                   11
                 </h4>
                  <p class="blog-month">
                       2020 <br> September
                  </p>
             </div>
           </div>
        </a>
         <div class="blog-sbj">
              <h3 class="blog-text">
                   Most Popular Place In This World
              </h3>
              <button class="blog-btn-g">
                <a class="blog-btn" href="#">Read More</a>
              </button>
         </div>
      </div>
      <div>
         <a href="#">
            <div class="blog-image owl-rodbar">
             <div class="blog-date">
                 <h4 class="blog-day">
                   11
                 </h4>
                  <p class="blog-month">
                       2020 <br> September
                  </p>
             </div>
           </div>
        </a>
         <div class="blog-sbj">
              <h3 class="blog-text">
                   Most Popular Place In This World
              </h3>
              <button class="blog-btn-g">
                <a class="blog-btn" href="#">Read More</a>
              </button>
         </div>
      </div>
      <div>
         <a href="#">
            <div class="blog-image owl-rodbar">
             <div class="blog-date">
                 <h4 class="blog-day">
                   11
                 </h4>
                  <p class="blog-month">
                       2020 <br> September
                  </p>
             </div>
           </div>
        </a>
         <div class="blog-sbj">
              <h3 class="blog-text">
                   Most Popular Place In This World
              </h3>
              <button class="blog-btn-g">
                <a class="blog-btn" href="#">Read More</a>
              </button>
         </div>
      </div>
    </div>
</section>