<section class="feedback">
    <div class="feedback-container">
        <p class="feedback-header">
            Testimonial
        </p>
        <h3 class="feedback-heading">
            Tourist Feedback
        </h3>
        <div class="feedback-content-f">
            <div class="feedback-content">
                <div class="feedback-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
               </div>
               <p class="feedback-text">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
               </p>
               <div class="feedback-img">
                <h4 class="feedback-name">
                    Mehrdad Kohansal
                </h4>
                <p class="feedback-exp">
                    Web Programmer
                </p>
              </div>
            </div>
            <div class="feedback-content">
                <div class="feedback-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
               </div>
               <p class="feedback-text">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
               </p>
               <div class="feedback-img">
                <h4 class="feedback-name">
                    Mehrdad Kohansal
                </h4>
                <p class="feedback-exp">
                    Web Programmer
                </p>
              </div>
            </div>
            <div class="feedback-content">
                <div class="feedback-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z"/></svg>
               </div>
               <p class="feedback-text">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
               </p>
               <div class="feedback-img">
                <h4 class="feedback-name">
                    Mehrdad Kohansal
                </h4>
                <p class="feedback-exp">
                    Web Programmer
                </p>
              </div>
            </div>
        </div>
        <div class="feed-dots">
            <button class="feed-dots feed-dot">
            </button>
            <button class="feed-dots feed-dot">
            </button>
            <button class="feed-dots feed-dot">
            </button>
            <button class="feed-dots feed-dot">
            </button>
            <button class="feed-dots feed-dot">
            </button>
        </div>
    </div>
</section>