<section class="group-input">
    <span class="input-ng">
        <a class="input-nav" href="#">Search Tour</a>
        <a class="input-nav" href="#">Hotel</a>
    </span>
    <span class="input-g">
        <div class="input-s">
            <label for="input1">DESTINATION</label>
            <input class="input" type="search" id="input1" placeholder="Search place">
        </div>
        <div class="input-s input-sl1">
            <label for="input2">CHECK-IN DATE</label>
            <input class="input" type="date" id="input2" placeholder="Check-In Date">
        </div>
        <div class="input-s">
            <label for="input3">CHECK-OUT DATE</label>
            <input class="input" type="date" id="input3" placeholder="Check-Out Date">
        </div>
        <div class="input-s input-sl">
            <label for="input4">PRICE LIMIT</label>
            <input class="input" type="price" id="input4" placeholder="$100">
        </div>
        <button class="input-btn-g">
            <a class="input-btn" href="http://">SEARCH</a>
        </button>
     </span>
</section>