<section class="owl-ds">
    <div class="owl-text">
        <p class="hero-start owl-start">
            Guilan Provide Places
         </p>
         <h4 class="owl-sbj">
            Select Your Destination
         </h4>
    <div class="owl">
            <a href="#">
                <div class="owl-images owl-rasht">
                    <h4 class="owl-header">
                            Rasht
                    </h4>
                    <h4 class="owl-dsc">
                            7 Tours
                    </h4>
                </div>
            </a>
            <a href="#">
                <div class="owl-images owl-image2 owl-talesh">
                    <h4 class="owl-header">
                            Talesh
                    </h4>
                    <h4 class="owl-dsc">
                            2 Tours
                    </h4>
                </div>
            </a>
            <a href="#">
                <div class="owl-images owl-image owl-masal">
                    <h4 class="owl-header">
                            Masal
                    </h4>
                    <h4 class="owl-dsc">
                            4 Tours
                    </h4>
                </div>
            </a>
            <a href="#">
                <div class="owl-images owl-image4 owl-rodbar">
                    <h4 class="owl-header">
                            Rodbar
                    </h4>
                    <h4 class="owl-dsc">
                            5 Tours
                    </h4>
                </div>
            </a>
            <a href="#">
                <div class="owl-images owl-image5 owl-fowman">
                    <h4 class="owl-header">
                            Fowman
                    </h4>
                    <h4 class="owl-dsc">
                            1 Tours
                    </h4>
                </div>
            </a>
            <div class="owl-dots">
                <button class="owl-dots owl-dot">
                </button>
                <button class="owl-dots owl-dot">
                </button>
                <button class="owl-dots owl-dot owl-d3">
                </button>
                <button class="owl-dots owl-dot owl-d">
                </button>
                <button class="owl-dots owl-dot owl-d">
                </button>
            </div>
    </div>
</section>
